/* Prevents startup error */
/* line 4, ../scss/styles.scss */
.foundation-data-attribute-namespace {
  font-family: false;
}

/*
    needs to match _settings.css
    NOTE: vars not imported here so actual CSS value must be used
*/
/* Custom variables */
/* Main loading spinner */
/* line 26, ../scss/styles.scss */
#abstract-spinner {
  background: #EEE;
  width: 100%;
  height: 99.9%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
}

/* line 35, ../scss/styles.scss */
body > #abstract-spinner {
  position: fixed;
  z-index: 1001;
}

@keyframes abstract-spinner {
  to {
    transform: rotate(360deg);
  }
}
/* line 42, ../scss/styles.scss */
#abstract-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #000;
  animation: abstract-spinner 1.0s linear infinite;
}

/* Loadinf spinner for content area */
/* line 60, ../scss/styles.scss */
#loading {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 99.9%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
}

/* line 69, ../scss/styles.scss */
#loading {
  position: fixed;
  z-index: 1001;
}

@keyframes loading-spinner {
  to {
    transform: rotate(360deg);
  }
}
/* line 76, ../scss/styles.scss */
#loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #000;
  animation: loading-spinner 1.0s linear infinite;
}

/* line 92, ../scss/styles.scss */
header {
  z-index: 999;
  min-width: 100%;
  position: relative;
}

/* HEADER TOP */
/* line 100, ../scss/styles.scss */
.header-main-bg {
  background: #DEDEDE;
}

/* line 103, ../scss/styles.scss */
.header-main {
  max-width: 62.5rem;
  padding: 1.5em 0;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  max-height: 200px;
}
/* line 111, ../scss/styles.scss */
.header-main .header-logo {
  max-width: 350px;
  float: left;
}
/* line 115, ../scss/styles.scss */
.header-main .header-logo img {
  width: 100%;
  height: auto;
}
/* line 119, ../scss/styles.scss */
.header-main .header-links {
  list-style: none;
  float: right;
  margin: 0;
}
/* line 124, ../scss/styles.scss */
.header-main .header-links li {
  line-height: 2.33rem;
  padding-left: 1rem;
  float: left;
}
/* line 129, ../scss/styles.scss */
.header-main .header-links li:first-child {
  padding-left: 0;
}
/* line 133, ../scss/styles.scss */
.header-main .header-search input, .header-main .header-search a {
  margin: 0;
}

/* HEADER NAVBAR */
/* line 140, ../scss/styles.scss */
.top-bar-bg {
  background: #333;
}

/* line 143, ../scss/styles.scss */
.top-bar {
  max-width: 62.5rem;
  padding: 0;
  text-align: center;
}
/* line 148, ../scss/styles.scss */
.top-bar .title-area, .top-bar li.search {
  display: none;
}
/* line 151, ../scss/styles.scss */
.top-bar .title-area > li.name img {
  max-width: 14.0625rem;
  margin-top: 0.3125rem;
}
/* line 155, ../scss/styles.scss */
.top-bar .top-bar-section {
  display: inline-block;
}
/* line 158, ../scss/styles.scss */
.top-bar .top-bar-section > ul {
  text-align: left;
}

/* HEADER (COMPACT) */
/* line 165, ../scss/styles.scss */
header.condensed {
  position: fixed;
  top: 0;
  left: 0;
}
/* line 170, ../scss/styles.scss */
header.condensed .header-main {
  max-height: 0;
  padding: 0;
}
/* line 174, ../scss/styles.scss */
header.condensed .top-bar {
  text-align: inherit;
}
/* line 177, ../scss/styles.scss */
header.condensed .top-bar .top-bar-section {
  display: block;
}
/* line 180, ../scss/styles.scss */
header.condensed .top-bar .title-area, header.condensed .top-bar li.search {
  display: block;
}
/* line 183, ../scss/styles.scss */
header.condensed .top-bar li.search.has-form {
  max-width: 14.0625rem;
  padding-right: 0;
}

/* FILL FOR HEADER */
/* line 192, ../scss/styles.scss */
.header-fill {
  height: 0;
}

/* HOME PAGE STYLES */
/* line 198, ../scss/styles.scss */
.home .top-bar-section li.home {
  display: none !important;
}

/* line 201, ../scss/styles.scss */
.home-img-bg {
  background: #000;
}

/* line 204, ../scss/styles.scss */
.home-img {
  background-image: url(../images/graffiti.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1600px;
  min-height: 540px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
}

/* line 217, ../scss/styles.scss */
.home-text {
  margin-top: 2.0rem;
}

/* line 220, ../scss/styles.scss */
.callouts {
  margin-top: .75rem;
  margin-bottom: 2.0rem;
}

/* line 224, ../scss/styles.scss */
.callout a {
  background: #000;
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}

/* line 231, ../scss/styles.scss */
.callout a > img {
  width: 100%;
  height: auto;
}

/* line 235, ../scss/styles.scss */
.callout a > h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
  padding: 1.5rem 0;
}

/* INT PAGE STYLES */
/* line 244, ../scss/styles.scss */
#main-content {
  min-height: 500px;
  position: relative;
}

/* line 248, ../scss/styles.scss */
.int-content {
  margin: 2rem auto;
}

/* line 251, ../scss/styles.scss */
#sidebar h3 {
  font-size: 1.25rem;
  margin: 0;
}

/* line 255, ../scss/styles.scss */
.side-nav ul {
  list-style-type: none;
  margin-left: 1.5rem;
  padding: 0;
}

/* line 260, ../scss/styles.scss */
.side-nav li {
  margin: 0;
}

/* FORMS */
/* line 267, ../scss/styles.scss */
form.front-form .required {
  font-weight: bold;
  font-size: 11px;
  color: red;
}
/* line 272, ../scss/styles.scss */
form.front-form .sublabel {
  font-style: italic;
}
/* line 275, ../scss/styles.scss */
form.front-form textarea.short {
  height: 50px;
}
/* line 278, ../scss/styles.scss */
form.front-form textarea.medium {
  height: 100px;
}
/* line 281, ../scss/styles.scss */
form.front-form textarea.tall {
  height: 150px;
}
/* line 284, ../scss/styles.scss */
form.front-form textarea.manute {
  height: 200px;
}

/* FOOTER */
/* line 291, ../scss/styles.scss */
footer {
  background: #000;
  padding-top: 2rem;
  padding-bottom: .75rem;
}
/* line 296, ../scss/styles.scss */
footer h3, footer p {
  color: #999;
}
/* line 299, ../scss/styles.scss */
footer a {
  color: #DDD;
}
/* line 302, ../scss/styles.scss */
footer a:hover {
  color: #DDD;
  text-decoration: underline;
}

/* COMPONENTS */
/* line 310, ../scss/styles.scss */
nav.pagination-centered {
  text-align: center;
}

/* MEDIA QUERIES START HERE */
@media only screen and (max-width: 768px) {
  /* Must match $small-breakpoint in _settings.css */
  /* line 317, ../scss/styles.scss */
  .callout {
    margin-top: 1.5rem;
  }

  /* line 320, ../scss/styles.scss */
  .callout:first-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 1024px) {
  /* Must match $medium-breakpoint in _settings.css */
  /* line 326, ../scss/styles.scss */
  header {
    position: fixed;
  }

  /* line 329, ../scss/styles.scss */
  .header-main {
    display: none;
  }

  /* line 332, ../scss/styles.scss */
  .top-bar {
    margin-top: 0;
    padding: 0;
    text-align: inherit;
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  /* line 342, ../scss/styles.scss */
  .top-bar .title-area, .top-bar li.search {
    display: block;
  }
  /* line 347, ../scss/styles.scss */
  .top-bar .title-area > li.name img {
    max-width: inherit;
    max-height: 2.6875rem;
    margin: 0 0 0 0.625rem;
  }
  /* line 352, ../scss/styles.scss */
  .top-bar .top-bar-section {
    display: block;
  }
  /* line 356, ../scss/styles.scss */
  .top-bar .top-bar-section ul li > a {
    font-size: 0.875rem;
  }
  /* line 359, ../scss/styles.scss */
  .top-bar .top-bar-section ul li.back {
    border-top: solid 1px #1a1a1a;
  }
  /* line 362, ../scss/styles.scss */
  .top-bar .top-bar-section ul li:not(.has-form) a:not(.button), .top-bar .top-bar-section ul li.active:not(.has-form) a:not(.button) {
    padding: 0.625rem 0.9375rem;
  }
  /* line 365, ../scss/styles.scss */
  .top-bar .top-bar-section ul li.search .row {
    max-width: 25rem;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 370, ../scss/styles.scss */
  .top-bar .top-bar-section ul li.search .row .button.expand {
    padding-top: 0.5rem;
    padding-bottom: 0.4375rem;
  }
}
